*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
    background-color: blanchedalmond;
    min-height: 100vh;
    border: 10px solid rgb(171, 15, 15);
}
.content{
    max-width: 900px;
    margin: 50px auto;
}
.image-container {
    width: 300px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.top-section h1{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.top-section {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top-section h3{
    text-align: end;
    font-size: larger;
}
.about_section{
    margin-top: 50px;
}
.about_section h1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}
.bottom{
    margin-top: 50px;
}